
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.table {
    margin: 20px;
}

.table ul {
    display: flex;
    list-style: none;
}

.table ul:first-child {
    background-color: turquoise;
    color: white;
    text-align: center;
    font-weight: bold;
}

.table ul.yellow {
    background-color: yellow;
}

.table ul li {
    border: 1px solid black;
    flex-basis: 33.3%;
    text-align: center;
    padding: 10px;
}